{
    "semi": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "editor.formatOnSave": true,
    "stylelintIntegration": true
  }